
.contenedor{
    width:100%;
    background-image:unset;
    min-height: unset;
    height: unset;
    /* padding: 10px 8%; */
    color:var( --text-main-color);
}
.contenedor .nav{
    height: 80px;
    padding: 0 1rem;
    padding-bottom: 2rem;
    background:var(--third-color);
}

.main-content .product{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    gap:1rem;
    padding: 1.5rem 1rem;
    margin: 1.5rem  auto;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    border-radius: 2rem;
}


.main-content .product .item-text h2{
    margin-bottom: 1rem;
    color:#08311c;
}

.main-content .product .item-text  p{
    color:#08311c;
}

.main-content .product .item-img img {
   border-radius: 5rem;
}
.main-content .product .item-img img{
    width: 100%;
    height: 500px;
}
@media (min-width:958px){
    .main-content .product{
        width: 85%;
        height: 670px;
        padding:0.5rem 1rem;
        margin: 8rem auto;
        /* margin-top: 8rem; */
    }

    .contenedor .nav{
        height: 110px;
    }

    .main-content .product .item-img img{
        width: 100%;
        height: 550px;
    }
}