/*--------------------------------------------------------------------------------------- NAV SECTION-------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------- NAV SECTION-------------------------------------------------------------------------*/

.nav{
    --state-close: scale(0); /* por defecto no se va a mostrar*/
    --state-hamburguer: scale(1); /* por defecto  se va a mostrar*/
    --state-menu: translate(-100%);

    padding: 10px 0;
    display:grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    color:var(--primary-color);
}

/* cuando la etiqueta nav este siendo apuntada,  por eso en el a del hamburguer se referencio a #nav*/
/*provoca que cambien las propiedades de los icono mostrando uno y ocultando otro*/
.nav:target{
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer: scale(0);
}


.nav .brand{
    padding: 1rem 0;
    margin-left: 1rem;
}

.nav .brand .logo{
    z-index:1;
    /* width:150px;
    height: 80px; */
    width:130px;
    height: auto; 
    object-fit: cover;
    /* margin-left: 2rem; */
    cursor: pointer;
}

/* ventaja de css grid */
.nav .nav_hamburguer,
.nav_close{
    cursor:pointer;
    /* para posicionar los dos iconos dentro de la misma celdaa osea uno encima del otro */
    grid-column: -2/-1;/* que se posiciones desde la penúltima linea hasta la última  */
    grid-row: 1/2;
    transition: .4s transform;

}

.nav .nav_hamburguer{
    transform: var(--state-hamburguer);
}

 /* no se muestra por defecto */
.nav .nav_close{
    
    transform: var(--state-close);
    z-index: 100;
}

.nav .nav_links{
    background-color: #ffffff;
    position:absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    padding: 0;

    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 12%;

    transform:var(--state-menu);
    transition: .3s transform;
    z-index: 100;
    /* display:none; */
}

.nav_item{
    list-style:none;

}

.nav_item a:hover{
    color:var(--primary-color);
}

.nav_link{
    color:var(--text-main-color);
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.nav_icon{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.submenu{
    list-style:none;
}



@media screen and (min-width: 768px){
    .nav{
        --state-hamburguer: scale(0); 
        --state-menu: translate(0);

        z-index: 10;
        background:var(--four-color);
        width: 100%;
        position:fixed;
        height: 7rem;
        top:0;
        left:0;
        padding: 0;

    }
    
    .nav:target{
        --state-hamburguer: scale(0);
    }

    .nav .logo{
        margin-left: 2rem;
        width:150px;
        height:auto;
        transform: translate(-12%);
    }

    .nav .nav_links{
        margin-right: 4rem;
        margin-top: 1rem;
        padding: 0;
        background-color: unset;
        position:unset;
        gap: 0.5em;
        grid-auto-flow: column;
    
        transform:unset;
        
        grid-column: -2/-1;
        grid-row: 1/2;

    }

    .nav .nav_link{
        font-size: 0.7rem;
        letter-spacing: none;
    }

    .nav_item{
        list-style:none;
        padding: 1rem 1rem;
    }
    .nav_item a{
        font-weight: bold;
        color:var(--primary-color);
    }

    .nav_item:hover{
        /* background: var(--secondary-color); */
        border-radius: 0.5rem;
        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
        /* color:var(--secondary-color); */
    }
    .nav_item a:hover{
        /* color:var(--secondary-color); */
        border-bottom: 4px solid #65b400;
        padding-bottom: 0.4rem;
    }

    /* Configuración de la posición del submenú */
    .submenu {
        display: none;
        position: fixed; /* Cambiado a fixed para que se posicione en relación con la ventana */
        background-color: var(--four-color);
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 1rem;
        min-width: 200px;
        z-index: 1000; /* Asegura que el submenú esté por encima de otros elementos */
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    }

    /* Mostrar el submenú al hacer hover */
    .nav_item.dropdown:hover .submenu {
        display: block;
    }

    /* Ajustes de estilo para los enlaces dentro del submenú */
    .submenu a {
        text-decoration: none;
        font-size: 1rem;
        display: block;
        padding: 10px 20px;
    }

    /* Cambia el color del enlace dentro del submenú cuando el ratón está encima */
    .submenu a:hover {

        color: var(--primary-color);
    }

    
}

@media screen and (min-width: 992px){
    .nav .nav_link{
        font-size: 1rem;
    }

}